:root {
  /* Primary Colors */
  --cyan: hsl(178, 100%, 50%);
  --soft-blue: hsl(215, 51%, 70%);

  /* Secondary Colors */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-size-main: 18px;
  --font-weight-normal: 400;
}

/*---- Base Styles ----*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
  font-family: "Outfit", sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-main);
  line-height: 1.4;
  justify-content: center;
  padding: 1rem;
}

main {
  width: min(100%, 350px);
  background-color: var(--card-bg);
  padding: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

p,
figcaption,
hr,
.attribution {
  color: var(--soft-blue);
}

figcaption {
  padding-left: 0.5rem;
  font-size: 1rem;
}

p.card__copy--highlight {
  color: var(--cyan);
}
/*---- Dry Styles ----*/

.flex__use {
  display: flex;
  align-items: center;
}

.stack-em {
  flex-direction: column;
}

.flex__between {
  justify-content: space-between;
}

.rounded__corners {
  border-radius: 10px;
}

.ease__in {
  transition: all 0.5s ease-in-out;
}

.finger__pointer {
  cursor: pointer;
}

.bottom__space {
  margin-bottom: 1.2rem;
}

.white {
  color: var(--white);
}

/*---- Card Styles ----*/

.card__body {
  padding: 0.9rem 0;
  border-bottom: 1px solid var(--soft-blue);
}

.card__title:hover,
.card__author:hover {
  color: var(--cyan);
}

.card__figure {
  position: relative;
  height: 310px;
  max-height: 310px;
}

.card__figure--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/icon-view.svg);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}

.card__figure--overlay:hover {
  background-color: rgba(0, 255, 247, 0.5);
  opacity: 1;
}

.card__icons--ethereum {
  width: 0.6rem;
}
.card__icons--clock {
  width: 1.1rem;
}

.card__subtitle {
  padding-left: 0.5rem;
}

.card__avatar {
  width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

/*---- Attribution Styles ----*/

.attribution {
  font-size: 0.75rem;
  text-align: center;
}
